body{
    position: relative;
    padding:0;
    margin: 0;
    height: 100px;
    min-height: 100%;
}

.container{
    width: 100%;
    max-width: 100%;
    margin: 20px auto;

}

.text-center{
    text-align: center;
}

.one{
    background: red;
}

.two{
    background: orange ;
}

.three{
    border: 2px solid red;
}